.button {
  height: 48px;
  width: 189px;
  border-radius: 8px;
  line-height: 19px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  border: none;
  transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.button_primary {
  background-color: var(--blue);
}

.button_secondary {
  background-color: var(--purple);
}

.button_alternate {
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  color: #495057;
}

.button_primary:not([disabled]):hover {
  background-color: var(--blue-1);
}

.button_secondary:not([disabled]):hover {
  background-color: var(--purple-1);
}

.button_alternate:not([disabled]):hover {
  border-color: var(--grey-5);
}