@import '..\..\assets\css\main.css';

.content {
    display        : flex;
    margin         : auto;
    justify-content: center;
}

.button {
    font-family: 'Roboto', sans-serif;
}

.button_medium {
    margin       : 20px;
    height       : 48px;
    width        : 189px;
    border-radius: 8px;
    font-size    : 16px;
    font-weight  : 500;
    color        : #FFFFFF;
    border       : none;
}

.button_medium:hover {
    transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
    cursor    : pointer;
}

.button_medium:disabled {
    opacity: 0.5;
    cursor : not-allowed;
}

.button_primary {
    background-color: var(--blue);
}

.button_secondary {
    background-color: var(--purple);
}

.button_alternate {
    background-color: var(--white);
    border          : 1px solid #ACB5BD;
    color           : #495057;
}

.button_primary:not([disabled]):hover {
    background-color: #2342C0;
}

.button_secondary:not([disabled]):hover {
    background-color: #5028C6;
    ;
}

.button_alternate:not([disabled]):hover {
    border-color: #212429;
}