@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-Regular.ttf);
  font-family: 'Roboto';
  src: url(./Roboto/Roboto-Medium.ttf);
  font-family: 'Source Sans Pro';
  src: url(./Source/SourceSansPro-Regular.ttf);
}