.histogram {
  box-sizing: border-box;
  padding: 16px 24px 24px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.histogram__header-counter {
  font-size: 20px;
  line-height: 26px;
  margin-top: 6px;
}

.histogram__header-link {
  text-decoration: none;
  color: var(--blue-2);
}

.histogram__chart {
  display: flex;
  flex-basis: 9px;
  align-items: flex-end;
  margin-top: 39px;
  height: 50px;
}

.histogram__chart-bar {
  background-color: var(--blue-2);
  width: 9px;
  margin-right: 1px;
}
