.checkbox .control__control {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.checkbox .control__icon {
    width: 15px;
    height: 13px;

}

.checkbox .control__input:checked~.control__state .control__control {
    background: var(--blue-4);
    border: var(--blue-4);
}

.checkbox .control__input:checked~.control__state .control__icon {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 7.5L5 11L13 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
}