.control {
    display: flex;
    flex-direction: column;
}

.control__input {
    position: absolute;
    display: flex;
    clip: rect(0, 0, 0, 0);
}

.control__state {
    display: flex;
    align-items: center;
}

.control__control {
    display: inline-flex;
    position: relative;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    box-sizing: border-box;
}

.control__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 7.5L5 11L13 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
}

.control__label {
    display: inline-flex;
    margin-left: 12px;
    color: var(--grey-4);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.control__input:checked~.control__state .control__control {
    background: var(--blue-4);
    border: var(--blue-4);
}

.control__input:disabled~.control__state .control__control {
    background-color: var(--grey-2);
}

.control__input:disabled~.control__state .control__control .control__icon {
    visibility: hidden;
}

.control__input:disabled~.control__state .control__control~.control__label {
    color: var(--grey-2);
}

.control__input:focus~.control__state .control__control {
    border: 2px solid var(--blue-2);
}