.control {
    display: flex;
    flex-direction: column;
}

.control__input {
    position: absolute;
    display: flex;
    clip: rect(0, 0, 0, 0);
}

.control__state {
    display: flex;
    align-items: center;
}

.control__control {
    display: inline-flex;
    position: relative;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
}

.control__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control__label {
    display: inline-flex;
    margin-left: 12px;
    color: var(--grey-4);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.control__input:disabled~.control__state .control__control {
    background-color: var(--grey-2);
}

.control__input:disabled~.control__state .control__control .control__icon {
    visibility: hidden;
}

.control__input:disabled~.control__state .control__control~.control__label {
    color: var(--grey-2);
}

.control__input:focus~.control__state .control__control {
    border: 2px solid var(--blue-2);
}

.control__input:focus~.control__state .control__label {
    box-sizing: border-box;
    outline: 1px dotted black;
}